.Messages {
    background-color: lightgray;
    padding: 10px;
    width: 100%;
    display: flex;
}

.div {
    border-right: 1px solid silver;
    margin-right: 10px;
}

.div2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.div3 {
    flex: 1 0 auto;
}