.modalActive {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    text-align: center;
}

.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.modalContentActive {
    /* width: 50vw; */
    padding: 1px;
    background-color: #fff;
    transform: scale(1);
}

.modalContent {
    /* width: 50vw; */
    /* padding: 10px; */
    background-color: #fff;
    transform: scale(0);
}