.newPost {
    display: flex;
    margin-bottom: 20px;
}

.text {
    display: inline;
    min-height: 28px;
    width: 100%;
    resize: none;
    padding: 5px;
}

.button {
    min-height: 28px;
    width: 100px;
}