.folder {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.information {
    display: flex;
    margin-bottom: 10px;
}

.information img {
    border-radius: 50%;
}

.logo {
    width: 70px;
}