.post {
    margin-bottom: 20px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}

.buttons {
    display: flex;
}

.likes {
    background-color: #c0c0c0;
    width: 100px;
    padding: 2px;
    text-align: center;
}

.likes:hover {
    background-color: whitesmoke;
}

.delete {
    background-color: indianred;
    color: whitesmoke;
    width: 100px;
    padding: 2px;
    text-align: center;
}

.delete:hover {
    background-color: red;
}

.text {
    padding-bottom: 5px;
    border-bottom: 1px solid #c0c0c0;
}